# Manejo de archivos en Pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}

In [5]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [7]:
# Generar un archivo CSV sin indices
df.to_csv('data/test.csv', index=False)

In [8]:
# Leer archivo CSV
df_read = pd.read_csv('data/test.csv')
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

## Generar y leer archivos Excel

In [15]:
try:
    import openpyxl 
except:
    !pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 2.0 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.0.1.tar.gz (8.4 kB)
Building wheels for collected packages: et-xmlfile
  Building wheel for et-xmlfile (setup.py) ... done
  Created wheel for et-xmlfile: filename=et_xmlfile-1.0.1-py3-none-any.whl size=8913 sha256=c5304443e1392f0a782d262fc89eb4708c36286aa1f53e36802e7e054f4d3810
  Stored in directory: /home/jovyan/.cache/pip/wheels/6e/df/38/abda47b884e3e25f9f9b6430e5ce44c47670758a50c0c51759
Successfully built et-xmlfile
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 openpyxl-3.0.7

In [19]:
df.to_excel('data/test.xlsx', index=False)

In [20]:
# Leer archivo Excel
df_read = pd.read_excel('data/test.xlsx')
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

## Generar y leer archivos JSON

In [22]:
df.to_json('data/test.json')

In [23]:
# Leer archivo JSON
df_read = pd.read_json('data/test.json')
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

## Generar y leer archivos Parquet

In [26]:
try:
    import pyarrow
except:
    !pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-3.0.0-cp38-cp38-manylinux2014_x86_64.whl (20.7 MB)
     |████████████████████████████████| 20.7 MB 4.4 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.16.6 in /opt/conda/lib/python3.8/site-packages (from pyarrow) (1.20.1)
Installing collected packages: pyarrow
Successfully installed pyarrow-3.0.0

In [27]:
df.to_parquet('data/test.parquet')

In [28]:
# Leer archivo Parquet
df_read = pd.read_parquet('data/test.parquet')
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9